html {
   -webkit-text-size-adjust: none;
}
.video embed,
.video object,
.video iframe {
   width: 100%;
   height: auto;
}
img{
    max-width:100%;
    height: auto;
    width: auto\9; /* ie8 */
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    /* -------------------------------------------- */
    /* ------------------Header-------------------- */
    
    /* -------------------------------------------- */
    /* ------------------Content------------------- */
    
    /* -------------------------------------------- */
    /* ------------------Footer-------------------- */
    
    /* -------------------------------------------- */
    /* ------------------Other----------------*---- */
    
}

@media only screen and (max-width: 767px) {
    /* -------------------------------------------- */
    /* ------------------Header-------------------- */
    header {margin-top: 0px;height:150px;}
    header #logo{top:20px;}
    
    /* -------------------------------------------- */
    /* ------------------Featured------------------ */
    
    /* -------------------------------------------- */
    /* ------------------Content------------------- */
    
    /* -------------------------------------------- */
    /* ------------------Footer-------------------- */
    
    /* -------------------------------------------- */
    /* ------------------Other----------------*---- */
}

@media only screen and (min-width: 620px) and (max-width: 767px) {
    /* -------------------------------------------- */
    /* ------------------Header-------------------- */
    
    /* -------------------------------------------- */
    /* ------------------Content------------------- */
    
    /* -------------------------------------------- */
    /* ------------------Footer-------------------- */
    
    /* -------------------------------------------- */
    /* ------------------Other----------------*---- */
}

@media only screen and (min-width: 480px) and (max-width: 619px) {
    /* -------------------------------------------- */
    /* ------------------Header-------------------- */
    
    /* -------------------------------------------- */
    /* ------------------Content------------------- */
    
    /* -------------------------------------------- */
    /* ------------------Footer-------------------- */
    
    /* -------------------------------------------- */
    /* ------------------Other----------------*---- */
}

@media only screen and (max-width: 479px) {
    /* -------------------------------------------- */
    /* ------------------Header-------------------- */
    header{height: 170px;}
    header #logo{top:20px;}
    header #search{bottom: 15px; width: 230px; top:auto; left: 5px;}
    header #search input{width: 194px;}

    .menu{display:none;}
    .minimenu{display:block;}
    
    #main-content .comment input, #main-content .comment textarea{width:90%;}
    /* -------------------------------------------- */
    /* ------------------Content------------------- */
    
    /* -------------------------------------------- */
    /* ------------------Footer-------------------- */
    
    /* -------------------------------------------- */
    /* ------------------Other----------------*---- */
}
/* line 1, /home/javierlopm/Documents/aplicacion/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/javierlopm/Documents/aplicacion/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/javierlopm/Documents/aplicacion/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/javierlopm/Documents/aplicacion/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 23, /home/javierlopm/Documents/aplicacion/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 26, /home/javierlopm/Documents/aplicacion/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /home/javierlopm/Documents/aplicacion/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /home/javierlopm/Documents/aplicacion/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 42, /home/javierlopm/Documents/aplicacion/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /home/javierlopm/Documents/aplicacion/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /home/javierlopm/Documents/aplicacion/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /home/javierlopm/Documents/aplicacion/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
Free Html5 Responsive Templates
Author: Kimmy
Author URI: http://www.zerotheme.com/
*/
/* -------------------------------------------- */
/* ------------------Reset--------------------- */

a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}

/* -------------------------------------------- */
/* ------------------Font---------------------- */

/*Add your font at here*/

/* -------------------------------------------- */
/* ------------------Style--------------------- */
html, body {width:100%; padding:0; margin:0;}
body {background: #999999;color: #474747;font: 14px/25px Arial, Helvetica, sans-serif;}

a{color: #474747;text-decoration: none;}
a:hover {color: #DA251D;; text-decoration: none;}

a.button{cursor: pointer;color: #ffffff;line-height: 14px;font-family: Arial, Helvetica, sans-serif;font-size: 14px;font-weight: bold;  background: #3F3F3F;border:1px solid #ffffff; -webkit-border-radius: 4px;-moz-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;}
a.button {  display: inline-block;  text-decoration: none;  padding: 6px 12px 6px 12px;}
a.button:hover{}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* -------------------------------------------- */
/* ------------------Header-------------------- */
header {background:#3F3F3F;}
header .wrap-header{height: 130px;}

header #logo {position:absolute; top:30px; width: 100%;}

header #search {position: absolute;top: 50px; right:0px; width: 258px;z-index: 15;}
header .button-search { position: absolute; left: 0px;  background: url('../images/button-search.png') center center no-repeat; width: 28px;    height: 24px;   border-right: 1px solid #CCCCCC;    cursor: pointer;}
header #search input {  background: #FFF;   padding: 1px 1px 1px 33px;  width: 222px;   height: 21px;   border: 1px solid #CCCCCC;  -webkit-border-radius: 3px; -moz-border-radius: 3px;-khtml-border-radius: 3px;  border-radius: 3px;}

/* -------------------------------------------- */
/* ------------------Navigation---------------- */
nav {margin-top:20px;}
nav .wrap-nav{height: 37px; background: #333333;}

.menu ul {list-style: none;margin: 0;padding: 0;}
.menu  ul li {position: relative;float: left;padding: 6px 5px 0px 5px;}
.menu  ul li:hover {background: #DA251D;}
.menu  ul li a {font-size: 14px; line-height:14px;color:#ffffff;display: block;padding: 6px 10px;margin-bottom: 5px;z-index: 6;position: relative; text-transform:uppercase; }
.menu  ul li:hover a {}

.minimenu{display:none;}
.minimenu{position: relative;margin: 0px;background:#333333; border: 1px solid #CCC;}
.minimenu div{overflow: hidden;position: relative;font: 18px/40px 'PT Sans Narrow';color: #ffffff;text-align:center;text-transform:uppercase;font-weight:bold;}
.minimenu select{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%; opacity: 0;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: pointer;}

/* -------------------------------------------- */
/* ------------------Featured---------------- */

.featured{margin:30px auto;}
.featured .wrap-featured{background:#333;}
.featured .wrap-featured .slider{padding: 10px;}

/* -------------------------------------------- */
/* ------------------Content------------------- */
#content {}
#content .wrap-content{background: #ff23ff;}

.block01 {margin:20px 10px; padding:30px; border-bottom:1px dashed #CCC;}
.block01 h2{text-align:center; font-size:30px; line-height:35px;}
.block01 p{font-size:20px; text-align:center; line-height:25px;}
.block01 a{color:#DA251D;}

.block02 {  margin:20px 10px; text-align:center;}
.block02 h2{font-size:23px; line-height:30px;}
.block02 p{font-size:16px;}

.block03 { margin:20px 10px;}
.block03 h2{font-size:23px; line-height:30px;}
.block03 img{float:left; margin:0px 10px 10px 0px;}

.block04 {margin:20px 10px; padding:30px; border-top:1px dashed #CCC;}
.block04 p{font-size:20px; text-align:center; line-height:25px;}

article{clear: both;}

/* -------------------------------------------- */
/* ------------------Footer-------------------- */
footer {background-color:#333;}
.wrap-footer{}

.copyright{text-align:center; background:#333333; padding:10px 0px;color:#ffffff; }
.copyright a{text-decoration:underline; color:#ffffff; }


/* -------------------------------------------- */
/* ------------------Components-------------------- */
.photos{}
.photos:after{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.photos a{display: block; float:left; margin: 0px 4px 10px 4px;position: relative;}
.photos a img{display:block; border:1px solid #CCC;}
/*
Free Html5 Responsive Templates
Author: Kimmy
Author URI: http://www.zerotheme.com/
*/
/* -------------------------------------------- */
/* ------------------Grid System--------------- */
 
.zerogrid{ width: 960px; position: relative; margin: 0 auto; padding: 0px;}
.zerogrid:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.zerogrid .row{}
.zerogrid .row:before,.row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.zerogrid .row:after{clear: both; }
.zerogrid .row{zoom: 1;}

.zerogrid .wrap-col{margin:10px;}

.zerogrid .col-1-2, .zerogrid .col-1-3, .zerogrid .col-2-3, .zerogrid .col-1-4, .zerogrid .col-2-4, .zerogrid .col-3-4, .zerogrid .col-1-5, .zerogrid .col-2-5, .zerogrid .col-3-5, .zerogrid .col-4-5, .zerogrid .col-1-6, .zerogrid .col-2-6, .zerogrid .col-3-6, .zerogrid .col-4-6, .zerogrid .col-5-6{float:left; display: inline-block;}

.zerogrid .col-full{width:100%;}

.zerogrid .col-1-2{width:50%;}

.zerogrid .col-1-3{width:33.33%;}
.zerogrid .col-2-3{width:66.66%;}

.zerogrid .col-1-4{width:25%;}
.zerogrid .col-2-4{width:50%;}
.zerogrid .col-3-4{width:75%;}

.zerogrid .col-1-5{width:20%;}
.zerogrid .col-2-5{width:40%;}
.zerogrid .col-3-5{width:60%;}
.zerogrid .col-4-5{width:80%;}

.zerogrid .col-1-6{width:16.66%;}
.zerogrid .col-2-6{width:33.33%;}
.zerogrid .col-3-6{width:50%;}
.zerogrid .col-4-6{width:66.66%;}
.zerogrid .col-5-6{width:83.33%;}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .zerogrid{width:768px;}
}

@media only screen and (max-width: 767px) {
    .zerogrid{width:100%;}
}

@media only screen and (min-width: 620px) and (max-width: 767px) {
    .zerogrid{width:100%;}
}

@media only screen and (min-width: 480px) and (max-width: 619px) {
    .zerogrid{width:100%;}
    .zerogrid .col-1-3, .zerogrid .col-2-3{width:100%;}
    .zerogrid .col-1-4{width:50%;}
    .zerogrid .col-1-6, .zerogrid .col-2-6, .zerogrid .col-3-6, .zerogrid .col-4-6, .zerogrid .col-5-6{width:100%;}
}

@media only screen and (max-width: 479px) {
    .zerogrid .zerogrid .col-1-2, .zerogrid .col-1-3, .zerogrid .col-2-3, .zerogrid .col-1-4, .zerogrid .col-2-4, .zerogrid .col-3-4, .zerogrid .col-1-5, .zerogrid .col-2-5, .zerogrid .col-3-5, .zerogrid .col-4-5, .zerogrid .col-1-6, .zerogrid .col-2-6, .zerogrid .col-3-6, .zerogrid .col-4-6, .zerogrid .col-5-6{width:100%;}
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

